/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

/* 01 Structure */
body{
	width:100%;
	background-color:#666;
}
.box{
	position:relative;
	width:90%;
	height:160px;
	background-color:#eee;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
}
#box_year{
	float:left;
	width:45%;
	height:125px;
	background-color:#fff;
	padding: 20px;
}
#box_goal{
	float:right;
	width:45%;
	height:125px;
	background-color:#fff;
	padding: 20px;
}
#workspace{
	position:relative;
	width:90%;
	height:250px;
	background-color:#eee;
	margin-top:10px;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
}
#all_cards{
	position:relative;
	width:90%;
	height:200px;
	background-color:#eee;
	margin-top:10px;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
}
.card{
	float:left;
	width:140px;
	height:180px;
	margin-right:10px;
	padding:8px;
	background-color:#ccc;
}
.sortable {
  display: list-item;
}
/* 02 Fonts */


/* 03 */