<!DOCTYPE html>
<html>
<head>
  <title>Energybudget</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  $(document).ready(function(){
	  $('.card').draggable({ snap: true  });
	  $('#workspace').droppable({
    	  drop: function(ev, ui) { 
			  $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this);
			  // Add as active
			  // Recalculate 
		  }
	  });
	  $('#all_cards').droppable({
    	  drop: function(ev, ui) { 
			  $(ui.draggable).detach().css({top: 0,left: 0}).appendTo(this); 
			  // Add as inactive
			  // Recalculate 
		  }
	  });
  });

  </script>
</head>

<body>

<%= yield %>

</body>
</html>
